<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        {{else}}
        <a href="/login">Dashboard</a>
        {{/if}}
        <a href="#" id="logout">Logout</a>
    </header>
    <main>
        {{{body}}}

        <a href="/dashboard/newPost" class="create-post">Create a Post</a>
    </main>

    <script src="/js/logout.js"></script>
</body>



</html>