<form id="new-post">
    <div>
        <label class="form-label">Title:</label>
        <input class="form-input" type="text" id="post-title" />
    </div>
    <div>
        <label class="form-label">Description:</label>
        <textarea class="form-textarea form-input" id="post-body" data-number="8"></textarea>
    </div>

    <button class="btn btn-primary post-btn">add post</button>
</form>
<script src="/js/newPost.js"></script>